@import "tailwindcss";
@plugin "daisyui";




body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: all 0.3s ease;
}

/* Light Theme */
body.light {
  background-color: #f8fafc;
  color: #0f172a;
}

/* Dark Theme */
body.dark {
  background-color: #0f172a;
  color: #f1f5f9;
}

/* Cards */
.card {
  padding: 15px;
  border-radius: 8px;
  transition: 0.3s;
}

body.light .card {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark .card {
  background: #1e293b;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

/* Buttons */
button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
}







@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease forwards;
}